/* fonts */

h1,
h2,
h3 {
  font-family: "fondamento", cursive, sans-serif, Arial, Helvetica, serif,
    "Times New Roman", Times;
}

a {
  font-family: "roboto", sans-serif, Arial, Helvetica, serif "Times New Roman",
    Times;
}

.bolder-text {
  font-style: italic;
}

/* colors */

.logo-color {
  color: #ba0c2f;
}

.background-color-page {
  background: rgba(39, 205, 255, 0.1);
}

/* buttons links */

a {
  text-decoration: none;
}

.current-site {
  color: #4caf50;
}

.link-button {
  color: black;
  text-decoration: none;
  font-weight: 1000;
}

.link-button:hover {
  color: #4caf50;
  transition: 0.3s;
}

button {
  background-color: #4caf50;
  border: none;
  width: 200px;
  padding: 20px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #4caf50;
}

/* head */

.header-logo {
  text-align: center;
}

.logo {
  display: flex;
  margin-top: 15px;
}

/* body screen */

body {
  margin: 0px;
}

.main-container {
  max-width: 1080px;
  margin: 0px auto;
  padding: 0px 20px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.round-image {
  border-radius: 100%;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
}

/* contact */

input {
  width: 100%;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.input-style {
  padding-bottom: 9px;
}

/* footer */

/* JS / WP class */

.wp-block-image {
  margin: 0px;
}

/* spacers */

.section-space {
  margin-top: 30px;
}

/* carusel */

/* carousel 

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

/* Slideshow container 
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons 
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  background-color: #bbb;
  opacity: 0.5;
  border-radius: 50%;
}

/* Position the "next button" to the right 
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  border-radius: 50%;
}
*/
/* On hover, add a black background color with a little bit see-through */

.prev,
.next {
  transition: 0.3s;
}

.prev:hover,
.next:hover {
  background-color: #4caf50;
  transition: 0.3s;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #4caf50;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* screen devices */
@media (min-width: 200px) {
  .dot {
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 10px;
  }
}
@media (min-width: 350px) {
  .dot {
    height: 30px;
    width: 30px;
    margin: 0px 30px 0px 30px;
  }
}

@media (max-width: 500px) {
  .dot {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 650px) {
  .round-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 651px) {
  .space-menu {
    margin-right: 40px;
  }
  .flex-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .space-between {
    padding: 0px 30px;
  }

  .space-between-left {
    padding-left: 30px;
  }

  .item-two-column-tablet {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1080px) {
  .space-menu {
    margin-right: 80px;
  }
}
